{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="ErrorPage" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="Configuration">
	<flux:flexform id="error-page" label="Error page" enabled="FALSE" />
</f:section>

<f:section name="Resources">
	<link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
</f:section>

<f:section name="Content">
	<div class="alert alert-error">
		<h1>Error while rendering page</h1>
		<p>There was an error rendering the requested page. If the error persists please contact the web master.</p>
	</div>
</f:section>

</div>