{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform id="sample-page" label="Standard Page" icon="{v:extension.path.resources(extensionName: 'FluidpagesBootstrap')}Icons/Page.png">
		<flux:flexform.field.custom name="void" label="Explanation">
			<h2>Welcome to the Fluid Pages world!</h2>
			<p>
				This template file is located at EXT:fluidpages/Resources/Private/Templates/Page/Render.html - take
				a look at this file to learn how to create Fluid Page Templates.
			</p>
			<h3>Very quick-n-dirty tutorial</h3>
			<p>
				* Template files are scanned from directories which are added by inserting TypoScript (see
				EXT:fluidpages/Configuration/SamplePage/setup.txt).
			</p>
			<p>
				* Each template file contains a Flux FlexForm definition (see this file).
			</p>
			<p>
				* This template file contains sections rendered by the very simple Layout.
			</p>
			<p>
				* A Partial template contains the navigation blocks (main menu, sub menu) and illustrates how to share
				between pages various objects such as a menu.
			</p>
		</flux:flexform.field.custom>
		<flux:flexform.field.input name="settings.entryLevel" label="Main menu entry level override for this page only"
		                           eval="int,trim" minimum="0" maximum="6" default="{v:var.typoscript(path: 'lib.menu.main.entryLevel')}">
		</flux:flexform.field.input>
		<flux:flexform.field.checkbox name="enableSearch" label="Enable search field in top navigation bar" default="1" />
		<flux:flexform.field.select size="1" minItems="0" table="pages" maxItems="1" name="searchPageUid" label="Page with search form">
			<flux:flexform.field.wizard.list table="pages" />
		</flux:flexform.field.select>
		<flux:flexform.field.input name="searchFieldName" label="Name (HTML attribute) of form field, example tx_solr[q]" default="q" />
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="1" name="Hero Unit" />
			</flux:flexform.grid.row>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="0" name="Main Content" />
			</flux:flexform.grid.row>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="2" name="Footer Content" />
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Resources">
	<f:render partial="PageObjects" section="SharedResources" />
</f:section>

<f:section name="Content">
	<!-- main content output - default rendering -->
	<v:page.content.render column="0" />
</f:section>

</div>